@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: wheat;
  overflow-y: hidden;
}
/* Navigation Bar Code */
.nav .ul .li {
  color: white;
  padding: 0 10px;

}
.ul {
  list-style: none;
  width: 100%;
}
.nav .ul {
  /* display: grid;
  grid-template-columns: 100px auto; */
  display: flex;
  flex-direction: row;
  align-items: center;
}
.li img {
  width: 44px;
  padding: 0 8px;
}
.brand {
  display: flex;
  font-weight: bolder;
  font-size: 1.3rem;
  align-items: center;
}

.nav {
  
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  height: 40px;
  background-color: black;
}

.btncontainer{
  margin-top: -3.5vh;
  margin-right: 1vw;
  float: right;
}
.navbtn{
  height: 30px;
  border-radius: 13px;
  width: 87px;
}
.main-container {
  display: flex;
  flex-direction: row;
}

.container {
  min-height: 74vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 9px auto;
  width: 75%;
  border-radius: 12px;
  padding: 34px;
  background-image: url("bg.jpg");
}
.songItemContainer {
  /* overflow-y: scroll; */
  margin-top: 35px;
  height: 64vh;
}
.songItem:hover{
  
  background-image: linear-gradient(to right , rgb(156, 252, 156) , rgb(88, 250, 102));
}
/* Hide scrollbar for Chrome, Safari and Opera */
.songItemContainer::-webkit-scrollbar {
  display: none;
}
/* Hover one Div and effect other all  */
/* .songItemContainer:hover > .songItem { background-color: rgb(160, 160, 160); } */

.songList h1 {
  background: linear-gradient(0deg, #1a7238, #1ed760) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  padding: 11px 7px;
}
.songList h1:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  border-radius: 20px;
}
.underline {
  padding-bottom: 2px;
  --bg-h: 2px;
}
.songList h1 {
  text-decoration: none;
  color: inherit;
  line-height: 1;
}
.songList h1{
  font-size: 50px;
  box-shadow: rgb(255, 255, 255);
}

.songItem img {
    width: 49px;
    margin: 0 23px;
    border-radius: 34px;
    height: 46px;
}

.timestamp {
  margin: 0 23px;
  text-align: center;
}

.timestamp i {
  cursor: pointer;
}

.songInfo {
  position: absolute;
  left: 10vw;
  font-family: "Varela Round", sans-serif;
}

.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
  body {
    background-color: red;
  }
}
.songItem {
  height: 55px;
  display: flex;
  background-color: white;
  color: black;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.5s;
}

.songItem img {
  width: 43px;
  margin: 0 23px;
  border-radius: 34px;
}

/* Side Navigation bar */
.sideNavBar {
  background-color: rgb(62, 62, 62);
  width: 20vw;
  justify-content: center;
}

.png {
  margin: 5px 11px;
}
.side-Ul .side a {
  color: white;
  text-decoration: none;
}
hr {
  border: 2px solid rgb(56, 56, 56);
  color: rgb(56, 56, 56);
}
.side-Ul .side {
  margin: 20px 14px;
  list-style: none;
}
.side-Ul {
  margin: 100px 2px;
}
.sideNavBar {
  background-color: #121212;
  color: white;
}
.timestamp i {
  cursor: pointer;
}
.buttom {
  position: sticky;
  background-color: black;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  flex-direction: column;
}
#myProgressBar {
  width: 80vw;
  cursor: pointer;
}
#range {
  width: 72vw;
  cursor: pointer;
  transition: 1s ease-in;
}
.icons {
  margin-top: 14px;
  color: white;
}
.icons i {
  margin: 0px 10px;
  cursor: pointer;
}
.gif {
  position: absolute;
  left: 14vw;
  margin-top: 30px;
}
.gif img {
  height: 35px;
  margin: 0 25px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
/* Song List Code */
.songCover {
  background-color: white;
  border-radius: 34px;
  display: grid;
  grid-template-columns: 50px 434px 90px;
  width: 50%;
  justify-content: space-around;
  font-family: "Verela Round", "Secular One", sans-serif;
  align-items: center;
  height: 44px;
  margin: 22px 3px;
}
.coverImg {
  height: 39px;
  border-radius: 34px;
  margin: 0px 8px;
  width: 45px;
}
.songName {
  color: black;
}
.timestamp,
.timestamp i {
  color: black;
}
.timestamp i {
  margin: 0 10px;
}
.songNamebuttom {
  color: white;
  font-family: "Verela Round", "Secular One", sans-serif;
  /* padding: 2px 3px; */
  margin: 20px 48px;
}
